.wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 18px;
}

.container {
  padding: 18px;
  border-radius: 16px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
  min-width: 300px;
  background-color: #212121;
}

.containerLightMode {
  background-color: #ffffff;
}

/* -------------------- PROJECTS -------------------- */

.projects {
  padding: 0 10px;
  margin-bottom: 25px;
}

/* -------------------- CONTACT ME -------------------- */

.contacMe {
  margin-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

/* -------------------- MEDIA QUERIES -------------------- */

@media (max-width: 1080px) {
  .projects,
  .contacMe {
    padding: 0;
  }
}
