.jumbotron {
  margin-bottom: 25px;
  min-width: 300px;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding: 18px;
}
.jumbotronTitle,
.jumbotronText {
  color: #f0f0f0;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 25px;
}
.jumbotronTitleDark {
  color: #212121;
}

.jumbotronText {
  color: #c0c0c0;
  font-size: 1rem;
  margin-bottom: 25px;
}

.jumbotronTextLight {
  color: #6e6e6e;
}

.containerBtn {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}

@media (min-width: 600px) {
  .jumbotronTitle {
    font-size: 46px;
  }

  .jumbotronText {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }

  .containerBtn {
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }
}
