html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.dark {
  background-color: #161616;
}
.light {
  background-color: #f0f0f0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  padding: 18px;
}

.dark-mode {
  background-color: #212121;
  color: #ffffff;
}
.light-mode {
  background-color: #fff;
  color: #212121;
}
.icon-light {
  color: #212121;
}
.icon-dark {
  color: #ffffff;
}
.contactme-dark {
  background-color: rgba(144, 144, 144, 0.35);
  color: #f0f0f0;
}
.contactme-light {
  background-color: #141414;
  color: #f0f0f0;
}
.contactme {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #585858;
  cursor: pointer;
  transition: ease-in-out 200ms;
}
.contactme:hover {
  transform: scale(1.03);
}

header,
main,
footer {
  margin-bottom: 20px;
  min-width: 300px;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding: 18px;
  border-radius: 16px;
}

.icon-links {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
  transition: ease-in-out 200ms;
}

.icon-links:hover {
  color: #909090;
}

ul {
  list-style: none;
  margin: 0;
}
